<div class="flex flex-column h-full">
  <div class="h-full bg-secondary">
    <ng-container *ngFor="let m of messages">
      <div class="flex  w-full mb-2">
        <div class="mr-2">
          <p-avatar shape="circle" [image]="m.sender.avatarUrl"></p-avatar>
        </div>
        <div class="flex flex-column text-sm justify-content-between">
          <div class="flex  flex-row align-items-end line-height-1">
            <span class="font-medium">{{m.sender.name}}</span>
            <span class="text-xs text-gray-700 ml-2"> {{m.time}}</span>
          </div>
          <span>{{m.message}}</span>
        </div>
      </div>
    </ng-container>
  </div>
  <div style="min-height: 48px; overflow: hidden; background-color: #eaedf3;"
    class="h-auto py-1 border-round-3xl flex flex-row align-items-center justify-content-between">
    <div class="inline-flex flex-column relative w-11 h-full">
      <span class="flex-column align-items-center w-auto h-auto transition-none">
        <textarea style="resize: none" [(ngModel)]="contentText" [rows]="rows" #areaInput
          class="relative custom-textarea h-full w-10 border-none border-round-3xl my-2 px-4 "
          (keydown)="handleKeyDown($event)" (keyup)="handleKeyUp($event)" (ngModelChange)="handleChange()"
          placeholder="Type your message...">
       </textarea>
      </span>
    </div>
    <div
      class="flex justify-content-center align-items-center hover:bg-gray-300 border-circle h-3rem w-3rem cursor-poiter">
      <i class="pi pi-send cursor-poiter text-primary text-xl"></i>
    </div>
  </div>
</div>