.meet {
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);
}

.tool-meet {
  height: 80px;
}

.tool-left h5 {
  color: aliceblue;
  font-size: 20px;
}

.meet-tab {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.info-tab {
  width: 0px;
  height: 100%;
  transition: 0.5s;
  margin-right: 8px;
}

.show-info-tab {
  width: 350px !important;
}

.show-info-tab1 {
  width: calc(100% - 350px);
}

.member-tab {
  background-color: #fff;
  border-radius: 8px;
}

.chat-tab {
  background-color: #fff;
  border-radius: 8px;
}

.meet-top {
  height: 130px;
  width: 100%;
  overflow-x: auto;
}

.list-meet-item{
  height: 100%;
  display: flex;
  width: auto;
}

.meet-item{
  height: calc(100% - 8px);
  width: 200px;
  min-width: 200px;
  margin-left: 4px;
  margin-top: 4px;
  white-space: nowrap;
}

.meet-bottom {
  background-color: cadetblue;
}

.pin-meet{
  background-color: deeppink;
}


.my-meet{
  width: 350px;
}

.my-video{
  background-color: rgb(104, 236, 128);
  height: 200px;
}

.d-none{
  display: none !important;
}

.meet-item-tool {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000077;
  border-radius: 30px;
  color: #fff;
  display: none;
}

.pin-meet:hover .meet-item-tool {
  display: flex;
}

.no-video {
  background-color: #3C4043;
}


.member-list{
  min-height: 200px;
  border: 1px solid #bbb;
  border-radius: 8px;
}
.p-overlaypanel .p-overlaypanel-content {
  padding: 0.5rem!important;
}
.ping {
	-webkit-animation: ping 0.3s ease-out infinite ;
	        animation: ping 0.3s ease-out infinite ;
}
@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
