<div class="flex align-items-center justify-content-between">
  <div class="flex align-items-center justify-content-start">
    <p-avatar [image]="userInfo.avatarUrl" shape="circle"></p-avatar>
    <p class="ml-2">{{ userInfo.name }}</p>
    &nbsp;
    <i *ngIf="isSceenShare" class="pi pi-desktop" style="font-size: 15px"></i>
  </div>

  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-ellipsis-v"
    class="p-button-rounded p-button-secondary p-button-text"
    (click)="op.toggle($event)"
  ></button>
</div>
<p-overlayPanel #op>
  <ng-template pTemplate>
    <div
      class="flex flex-column align-items-start justify-content-start gap-2 w-auto"
    >
      <p-toggleButton
        [(ngModel)]="videoTrack"
        offLabel="Bắt đầu xem"
        onLabel="Không xem"
        offIcon="fa-solid fa-video"
        onIcon="fa-solid fa-video-slash"
      ></p-toggleButton>
      <p-toggleButton
        offLabel="Ghim"
        onLabel="Bỏ ghim"
        offIcon="fa-solid fa-thumbtack"
        onIcon="fa-solid fa-times"
        (onChange)="changePin($event)"
      ></p-toggleButton>
      <p-toggleButton
        offLabel="Bật mic"
        onLabel="Tắt mic"
        offIcon="fa-solid fa-microphone"
        onIcon="fa-solid fa-microphone-slash"
      ></p-toggleButton>
    </div>
  </ng-template>
</p-overlayPanel>
