<div class="meet-item-content w-full h-full relative">
  <div
    [ngClass]="{
      'no-video w-full h-full flex align-items-center justify-content-center': true,
      'd-none': videoTrack
    }"
    class=""
  >
    <p-avatar
      [image]="userInfo.avatarUrl"
      size="xlarge"
      shape="circle"
    ></p-avatar>
  </div>
  <div
    [ngClass]="{
      'video w-full h-full': true,
      'd-none': !videoTrack
    }"
    [id]="uid"
  ></div>

  <i
    *ngIf="!audioTrack"
    class="fa-solid fa-microphone-slash absolute"
    style="top: 10px; right: 10px; color: #fff"
  ></i>
  <i
    *ngIf="audioTrack"
    class="fa-solid fa-microphone absolute"
    style="top: 10px; right: 10px; color: #fff"
  ></i>

  <p class="absolute" style="color: #fff; bottom: 10px; left: 10px; margin: 0">
    {{ userInfo.name }} &nbsp;
    <i *ngIf="isSceenShare" class="pi pi-desktop" style='font-size: 12px;'></i>
  </p>

  <span
    class="meet-item-tool absolute align-items-center justify-content-center gap-1"
  >
    <button
      pButton
      pRipple
      type="button"
      icon="fa-solid fa-thumbtack"
      class="p-button-rounded p-button-secondary p-button-text"
      style="color: #fff"
      (click)="pinUser()"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="fa-solid fa-microphone"
      class="p-button-rounded p-button-secondary p-button-text"
      style="color: #fff"
      *ngIf="!audioTrack"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="fa-solid fa-microphone-slash"
      class="p-button-rounded p-button-secondary p-button-text"
      style="color: #fff"
      *ngIf="audioTrack"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-ellipsis-v"
      class="p-button-rounded p-button-secondary p-button-text"
      style="color: #fff"
      (click)="op.toggle($event)"
    ></button>
  </span>

  <p-overlayPanel #op>
    <ng-template pTemplate>
      <div
        class="flex flex-column align-items-start justify-content-start gap-1 w-auto"
      >
        <p-toggleButton
          [(ngModel)]="videoTrack"
          offLabel="Bắt đầu xem"
          onLabel="Không xem"
          offIcon="fa-solid fa-video"
          onIcon="fa-solid fa-video-slash"
          [disabled]="!videoTrack"
        ></p-toggleButton>
      </div>
    </ng-template>
  </p-overlayPanel>
</div>
